<div class="activities_list_container">
  <div class="activities_item_container">
    <h1 class="activities_item_title">{{ page.title }}</h1>

    <div class="activities_item_info">

      <div class="activities_item_date">
        <time class="dt-published" datetime="{{ page.date|date(" c") }}"="c" )=")" }}""="}}" "">
          <p>{{ page.date|date("Y") }}.{{ page.date|date("m") }}.{{ page.date|date("d") }}</p>
        </time>
      </div>

      <div class="activities_item_category">
        {% set count = 0 %}

        {% for category in page.taxonomy.category %}
          <a class="activities_item_category_item" href="{{activities.url|rtrim('/')}}/category{{ config.system.param_sep}}{{category}}">{{category}}</a>
          {% set count = count + 1 %}
          {% if count != count(page.taxonomy.category)%}
            <span>,</span>
          {% endif %}
        {% endfor %}
      </div>

    </div>
    
    <ul class="activities_item_sns">
      <li class="ais_item">
        {#<a class="ais_item_link" href=""><img src="{{ url('theme://images/sns_icon_fb_b.png')}}" alt="facebook"></a>#}
        <div class="fb-share-button" data-href="http://code4.yokohama/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcode4.yokohama%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
      </li>
      <li class="ais_item">
        {#<a class="ais_item_link" href=""><img src="{{ url('theme://images/sns_icon_tw_b.png')}}" alt="twitter"></a>#}
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </li>
    </ul>

    <div class="activities_item_image_box">
      {% set header_image_media = page.media.images | first %}
      {% if header_image_media %}
        <div class="activities_item_image_box">
          <img class="activities_item_image" src="{{ header_image_media.url }}">
        </div>
      {% endif %}
    </div>

    <div class="activities_item_content">

      {{ page.content }}
      {% if config.plugins.comments.enabled %}
        {% include 'partials/comments.html.twig' %}
      {% endif %}

      {% set show_prev_next = true %}

    </div>

    {% if page.taxonomy.tag %}
      <div class="activities_item_tags">
        <p class="activities_item_tags_title">TAGS</p>

        {% set count = 0 %}
        {% for tag in page.taxonomy.tag %}
          <a class="activities_item_tags_item" href="{{ activities.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
          {% set count = count + 1 %}
          {% if count != count(page.taxonomy.tag) %}
            ,
          {% endif %}

        {% endfor %}

      </div>
    {% endif %}

  </div>
</div>
