{% block stylesheets %}
  {% do
    assets.addCss('theme://css/members.css', 100) %}
{% endblock %}

{% set header_image_file = page.header.header_image_file %}
<li class="members_item_box_content">
  {% if header_image_file %}
    {% set header_image_media = page.media.images[header_image_file] %}
  {% else %}
    {% set header_image_media = page.media.images | first %}
  {% endif %}
  <div class="members_info" id="{{page.id}}">
    <a href="{{page.url}}">
      <img class="members_image" src="{{ header_image_media.url }}" alt="hoge"/>
      <p class="members_company">{{page.header.metadata.company}}</p>
      <p class="members_name">{{page.title}}</p>
    </a>
  </div>
  <div class="members_detail_content" id="members_detail-{{page.id}}">
    {% include 'partials/members_detail.html.twig' with {
      'page' : page
    } %}
  </div>
  <div class="box_triangle" id="box_triangle-{{page.id}}"></div>
</li>
