{% block stylesheets %}
  {% do
    assets.addCss('theme://css/members.css', 100) %}
{% endblock %}
{% if header_image_file %}
  {% set header_image_media = page.media.images[header_image_file] %}
{% else %}
  {% set header_image_media = page.media.images | first %}
{% endif %}
<div class="members_detail_pc">
  <div class="members_detail_pc_image_box">
    <img src="{{ header_image_media.url }}" alt="{{page.header.person}}"/>
  </div>
  <div class="members_detail_pc_content_box">
    <p class="members_position">
        {% if page.header.metadata.position %}
            {{page.header.metadata.position}}
        {% else %}
          Fellow
        {% endif %}
    </p>
    <p class="members_detail_pc_person">{{page.title}}</p>
    <div class="members_detail_pc_info">{{page.content}}</div>
  </div>
</div>
{% if page.header.metadata != null %}
  <div class="members_detail_pc_sns_box">
    {% if page.header.metadata.twitter_url != null %}
      <a class="members_detail_pc_sns" href="{{page.header.metadata.twitter_url}}"><img src="{{ url('theme://images/sns_icon_member_twitter.png')}}" /></a>
    {% endif %}
    {% if page.header.metadata.facebook_url != null %}
      <a class="members_detail_pc_sns" href="{{page.header.metadata.facebook_url}}"><img src="{{ url('theme://images/sns_icon_member_fb.png')}}" /></a>
    {% endif %}
    {% if page.header.metadata.github_url != null %}
      <a class="members_detail_pc_sns" href="{{page.header.metadata.github_url}}"><img src="{{ url('theme://images/sns_icon_member_github.png')}}" /></a>
    {% endif %}
  </div>
{% endif %}

<div class="members_detail_sp">
  <div class="members_detail_sp_image_box">
    <img src="{{ header_image_media.url }}" alt="{{page.header.position}} {{page.header.person}}"/>
  </div>
  <div class="members_detail_sp_content_box">
    <p class="members_position">
      {% if page.header.metadata.position %}
        {{page.header.metadata.position}}
      {% else %}
        Fellow
      {% endif %}
    </p>
    <p class="members_detail_sp_person">{{page.title}}</p>
    <div class="members_detail_sp_info">{{page.content}}</div>
  </div>
</div>
{% if page.header.metadata != null %}
  <div class="members_detail_sp_sns_box">
    {% if page.header.metadata.twitter_url != null %}
      <a class="members_detail_sp_sns" href="{{page.header.metadata.twitter_url}}"><img src="{{ url('theme://images/sns_icon_member_twitter_sp.png')}}" /></a>
    {% endif %}
    {% if page.header.metadata.facebook_url != null %}
      <a class="members_detail_sp_sns" href="{{page.header.metadata.facebook_url}}"><img src="{{ url('theme://images/sns_icon_member_fb_sp.png')}}" /></a>
    {% endif %}
    {% if page.header.metadata.github_url != null %}
      <a class="members_detail_sp_sns" href="{{page.header.metadata.github_url}}"><img src="{{ url('theme://images/sns_icon_member_github_sp.png')}}" /></a>
    {% endif %}
  </div>
{% endif %}
