{% block stylesheets %}
  {% do
    assets.addCss('theme://css/members.css', 100) %}
{% endblock %}
{% if header_image_file %}
  {% set header_image_media = page.media.images[header_image_file] %}
{% else %}
  {% set header_image_media = page.media.images | first %}
{% endif %}
<div class="members_detail_pc">
  <div class="members_detail_pc_image_box">
    <img src="{{ header_image_media.url }}" alt="{{page.header.company}} {{page.header.person}}"/>
  </div>
  <div class="members_detail_pc_content_box">
    <p class="members_detail_pc_company">{{page.header.company}}</p>
    <p class="members_detail_pc_person">{{page.header.person}}</p>
    <div class="members_detail_pc_info">{{page.content}}</div>
  </div>
</div>
{% if page.header.sns != null %}
  <div class="members_detail_pc_sns_box">
    {% if page.header.sns.twitter_url != null %}
      <a class="members_detail_pc_sns" href="{{page.header.sns.twitter_url}}"><img src="{{ url('theme://images/sns_icon_member_twitter.png')}}" /></a>
    {% endif %}
    {% if page.header.sns.facebook_url != null %}
      <a class="members_detail_pc_sns" href="{{page.header.sns.facebook_url}}"><img src="{{ url('theme://images/sns_icon_member_fb.png')}}" /></a>
    {% endif %}
  </div>
{% endif %}

<div class="members_detail_sp">
  <div class="members_detail_sp_image_box">
    <img src="{{ header_image_media.url }}" alt="{{page.header.company}} {{page.header.person}}"/>
  </div>
  <div class="members_detail_sp_content_box">
    <p class="members_detail_sp_company">{{page.header.company}}</p>
    <p class="members_detail_sp_person">{{page.header.person}}</p>
    <div class="members_detail_sp_info">{{page.content}}</div>
  </div>
</div>
{% if page.header.sns != null %}
  <div class="members_detail_sp_sns_box">
    {% if page.header.sns.twitter_url != null %}
      <a class="members_detail_sp_sns" href="{{page.header.sns.twitter_url}}"><img src="{{ url('theme://images/sns_icon_member_twitter_sp.png')}}" /></a>
    {% endif %}
    {% if page.header.sns.facebook_url != null %}
      <a class="members_detail_sp_sns" href="{{page.header.sns.facebook_url}}"><img src="{{ url('theme://images/sns_icon_member_fb_sp.png')}}" /></a>
    {% endif %}
  </div>
{% endif %}
