{% set collection = page.collection() %}
{% block stylesheets %}
  {% do
    assets.addCss('theme://css/common.css', 100) %}
  {% do
    assets.addCss('theme://css/news.css', 100) %}
  {% do
    assets.addCss('theme://css/normalize.css', 100) %}
{% endblock %}

<div class="news_item_container">
  <div class="news_item_image_box">

    {% if header_image_file %}
      {% set header_image_media = page.media.images[header_image_file] %}
    {% else %}
      {% set header_image_media = page.media.images | first %}
    {% endif %}

    <img class="news_item_image" src="{{ header_image_media.url }}" alt="hoge"/>

  </div>
  <div class="news_item_content">
    <div class="news_item_info">
      <div class="news_item_date">
        <time class="dt-published" datetime="{{ page.date|date(" c") }}"="c" )=")" }}""="}}" "">
          <p>{{ page.date|date("Y") }}.{{ page.date|date("m") }}.{{ page.date|date("d") }}</p>
        </time>
      </div>

      <!-- TODO categoryのとり方 -->
      <!-- <div class="news_item_category"> {#{% if page.taxonomy.category %} <span class="tags"> {% for tag in page.taxonomy.category %} <a href="{{ blog.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}" class="p-category">{{ category
      }}</a> {% endfor %} </span> {% endif %}#} </div> -->

      <div class="news_item_tag">
        {% if page.taxonomy.tag %}
          <span class="tags">
            {% for tag in page.taxonomy.tag %}
              <a class="news_item_tag" href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}" class="p-category">{{ tag }}</a>
            {% endfor %}
          </span>
        {% endif %}
      </div>
    </div>
    <p class="news_item_title"></p>
    <p class="news_item_hilite"></p>
  </div>

  <div class="read_more">
    {% if page.header.continue_link is sameas(false) %}
      <div class="read_more_button">
        {{ page.content }}
      </div>
      {% if not truncate %}
        {% set show_prev_next = true %}
      {% endif %}
    {% elseif truncate and page.summary != page.content %}
      <div class="p-summary read_more_button">
        {{ page.summary }}
        <p>
          <a class="read_more_button" href="{{ page.url }}">{{ 'Read more'|t }}</a>
        </p>
      </div>
    {% elseif truncate %}
      <div class="p-summary read_more_button">
        {{ page.content }}
        <p>
          <a class="read_more_button" href="{{ page.url }}">{{ 'Read more'|t }}</a>
        </p>
      </div>
    {% else %}
      <div class="read_more_button">
        {{ page.content }}
      </div>

      {% if config.plugins.comments.enabled %}
        {% include 'partials/comments.html.twig' %}
      {% endif %}

      {% set show_prev_next = true %}
    {% endif %}
  </div>
</div>
