{% set collection = page.collection("What's New") %}
{% set whatsNewOption = {
  items: {
    '@taxonomy.category': "What's New"
  },
  'limit': 5,
  'order': {
    'by': 'date',
    'dir': 'desc'
  }
} %}
{% set whatsNewCollection = page.collection(whatsNewOption) %}

{% block stylesheets %}
  {% do
    assets.addCss('theme://css/index.css', 100) %}
{% endblock %}
<ul class="whats_new_list">
  {% for child in whatsNewCollection %}
    <li class="whats_new_item">
      <time class="dt-published" datetime="{{ child.date|date(" c") }}"="c" )=")" }}""="}}" "">
        <span class="whats_new_item_date">{{ child.date|date("Y") }}.{{ child.date|date("m") }}.{{ child.date|date("d") }}</span>
      </time>
      <div class="whats_new_item_title_box">
        <a href="{{ child.url }}">
          <p class="whats_new_item_title">
            {{ child.title }}
          </p>
        </a>
      </div>
    </li>
  {% endfor %}
</ul>
