{% embed 'partials/base.html.twig' %}
  {% block stylesheets %}
    {% do
      assets.addCss('theme://css/common.css', 100) %}
    {% do
      assets.addCss('theme://css/activities.css', 100) %}
    {% do
      assets.addCss('theme://css/normalize.css', 100) %}
  {% endblock %}
  {% block javascripts %}
    {% do
    assets.add('jquery', 101) %}
    {% do
    assets.add('theme://js/script.js', 101) %}
    {% do
    assets.add('theme://js/activities.js', 101) %}
  {% endblock %}

  {% block content %}
    {% if config.plugins.breadcrumbs.enabled %}
      {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    <div class="container">
      <div id="activities" class="activities">
        <div class="activities_container">
          <div id="item" class="block pure-u-2-3 h-entry">
            {% include 'partials/activities_item.html.twig' with {
              'activities' : page.parent,
              'truncate' : false
            } %}

          </div>
          <div class="next_prev_pagination">
            {% if not page.isFirst %}
              <a class="n_p_pagenation next" href="{{ page.nextSibling.url }}">{{ page.nextSibling.title|length > 40 ? page.nextSibling.title|slice(0, 40) ~ '...' : page.nextSibling.title }}</a>
            {% endif %}

            {% if not page.isLast %}
              <a class="n_p_pagenation prev" href="{{ page.prevSibling.url }}">{{ page.prevSibling.title|length > 40 ? page.prevSibling.title|slice(0, 40) ~ '...' : page.prevSibling.title }}</a>
            {% endif %}
          </div>
        </div>
        <div id="sidebar" class="sidebar_activities">
          {% include 'partials/sidebar.html.twig' with {'activities':page.parent}%}
        </div>
      </div>
    </div>

  {% endblock %}

  {% block categoryPosts %}
    <div class="category_list">
        <section class="category_list_inner container">
            {% for post in taxonomy.findTaxonomy({'category':page.taxonomy.category[0]})|reverse|slice(0,3) %}
                  <h2 class="category_list_title">{{category}}</h2>
                  <section class="category_list_item">
                      <a href="{{ post.url }}">
                      {% set post_image = post.media.images | first %}
                      {% if post_image %}
                        <img src="{{ post_image.url }}">
                      {% else %}
                        <span class="no-image">No Image</span>
                      {% endif %}
                      </a>
                    <div class="category_list_info">
                      <h3 class="info_title">
                          <a href="{{ post.url }}">
                          {{ post.title|length > 30 ? post.title|slice(0, 30) ~ '...' : post.title }}
                          </a>
                      </h3>
                      <div class="info_desc">
                          {{ post.content|length > 40 ? post.content|slice(0, 40) ~ '...' : post.content }}
                      </div>
                      <time class="info_date" datetime="{{ page.date|date(" c") }}"="c" )=")" }}""="}}" "">
                      <p>{{ post.date|date("Y") }}.{{ post.date|date("m") }}.{{ post.date|date("d") }}</p>
                      </time>
                    </div>
                  </section>
            {% endfor %}
        </section>
    </div>
  {% endblock %}

{% endembed %}
